<table align="center" width="100%">
<tr>
    <td>Page</td>
    <td><%= form.text_field :page,:readonly=>true %></td>
  </tr>
  <tr>
    <td>Identification</td>
    <td><%= form.text_field :identification,:readonly=>true %></td>
  </tr>
  <tr>
    <td>No.of characters to display</td>
    <td><%= form.text_field :no_of_chars %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%#= form.text_area :description,:size=>'35x20' %>
    <%= form.text_area :description ,:size => "35x15", :class=>"widgEditor"%>

    </td>
  </tr>
</table>

