<br /><div class="page_container">
<h3>New</h3>

<% form_for(@content_management) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
<%= link_to 'Back', content_managements_path %>

