<% form_for @member, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= error_messages_for 'user'%>
<%= render :partial => "members/form", :object => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

