<% @families = Family.find(:all,:order=>'id desc',:limit=>5) %>
<h2 class="box"><%= link_to "Families &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +  image_tag ("../images/right_arrow.png"), "family_tree" %></h2>
<table align="center">

<% @families.each do |family| %>
  <tr>
    <td><%=h family.name %></td>
  </tr>
<% end %>
</table>

