<% @families = Family.find(:all,:order=>'id desc') %>
<h2 class="box"><%= link_to "&nbsp;"*45, "family_tree" %></h2>
<table align="center">

<% @families.each do |family| %>
  <tr>
    <td><%=link_to h(family.name),family_path(family) %></td>
  </tr>
<% end %>
</table>

