<div align="right" ><%= link_to 'New family', new_family_path,:class=>'button' %></div>
<div align="center">
<h3>Families</h3>


<table align="center">

<% @families.each do |family| %>
  <tr>
    <td><%=link_to h(family.name) ,family_path(family)%></td>
    <% if current_user and current_user.is_admin %>
    <td><%= link_to image_tag('edit.png'), edit_family_path(family) %></td>
    <td><%= link_to image_tag('delete.png'), family, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
</div>

