<br />
<div class="family_show">

    <div style="float:left;">
      <%- unless  @family.photo_file_name.nil? -%>
      <%= image_tag @family.photo.url(:original), :width => "350px;" -%>
      <%- end -%>
    </div>



    <div class="family_show_description">
      <h2><%=h @family.name %></h2><br />
      <%= @family.long_description -%>
    </div>

  </div>
</div>

