<br />
<div style = "margin-left:auto;margin-right:auto;text-align:center;width:800px;">
  <div>

    <div style="float:left;">
      <%- unless  @family.photo_file_name.nil? -%>
      <%= image_tag @family.photo.url(:original), :width => "350px;" -%>
      <%- end -%>
    </div>



    <div style="float:left;width:350px;text-align:left;margin-left:40px;">
      <h2><%=h @family.name %></h2><br />
      <%= @family.long_description -%>
    </div>

  </div>
</div>

