<div class="page_container" style="text-align:justify;margin:20px;background-image:url('../images/detailed_content.png'); background-repeat:no-repeat;">
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
        <p><%= @content_management.description %>

        </p>
</div>

 <!-- END OF home_page_content-->
<div style="clear:both;">&nbsp;</div>

