<div align="center" style="text-align:justify;background-image:url('../images/detailed_content.png'); background-repeat:no-repeat;">

  <div style="text-align:justify;margin-left:120px;margin-top:40px;" >
    <p> <%=raw @content_management.description %></p>
  </div>
</div>

 <!-- END OF home_page_content-->
<div style="clear:both;">&nbsp;</div>

