
<br />

<div class="clear"></div>

<div align="center">
    <div class="white_bordered_div" style="text-align:left;">
        <%= @content_management.description[0..@content_management.no_of_chars] %>
        <br /><br /><br />
    </div>
</div>

