<div id="home_image">

    <div id="home_page_quote">
         <br /> <br /> <br />
        150 Years of Mannekatttil History.<br />
        from Mannekattil Ittop Asan
        <br />
         The description should be divided in Description1(Or Quote1)<br />
        jhsg fjs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg
        fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df
    </div>



    <div id="family_container">
      <h2>Families</h2>
      <p>
      mannekattil<br />
      manfdffl<br />
      mafil<br />
      mal<br />
      vahaplackal
      </p>
    </div>
  </div>

  <div id="events_container">
    <h2>Events</h2>
    <p>getogether<br />
    <a>COmpetetions</a><br />
    </p>
  </div>

  <!-- div id="family_bg">family bg
  </div-->


    <div id="home_page_content">
      This is the general description ---

        jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df<br />        jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df<br />
        jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df<br />        jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df<br />        jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df<br />        jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df<br />
        jhsg fjshdg fjsdhfg jsdfhg sjdfhgs df<br /><br /><br /><br />

    </div>

