<% @events = Event.find(:all,:order=>'event_date desc',:limit=>5)%>
<% unless  @events.blank? %>
<h2 class="box"><%= link_to image_tag('events_heading_bg.png'), events_path %></h2>

<table align="center">

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title[0..40]+"...",event_path(event) %></td>

  </tr>
<% end %>
</table>
<%= link_to "...more", events_path%>
<% else %>
No items
<% end %>
<br />

