<% @events = Event.find(:all,:order=>'event_date desc',:limit=>5)%>
<h2 class="box"><%= link_to "Events &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +  image_tag ("../images/right_arrow.png"), events_path %></h2>

<table align="center">

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title,event_path(event) %></td>

  </tr>
<% end %>
</table>

