<p>Title:<%= @event.title %></p>
<p>Description<%= @event.description %></p>
<p>Date:<%= @event.event_date %>
<% @upload = @event.event_uploads.first %>
<%unless @upload.nil? %><p><%= image_tag @upload.photo.url(:thumb) %></p><% end %>
<%#= link_to 'Edit', edit_event_path(@event) %>
<%#= link_to 'Back', events_path %>

