
<div class="family_show" style="margin-left:450px;">
  <div>

    <div style="float:left;">
    <% @upload = @alert.alert_uploads.first %>
      <%unless @upload.nil? %>
      <%= image_tag @upload.photo.url(:thumb) %>
      <% end %>
    </div>



    <div class="family_show_description">
      <%=h @alert.title %><br />
      <%= @alert.description %><br />
      <%= @alert.alert_date%><br />
    </div>

  </div>
</div>

