<div align="center">
<div class='button'><%= link_to 'New', new_district_path if current_user and current_user.is_admin %></div>
<% unless @districts.blank? %>
<table align="center">
<tr><td colspan="3" align="center"><h3>Districts</h3></td></tr>

<% @districts.each do |district| %>
  <tr>
    <td><%=h district.name %></td>
    <td><%= link_to image_tag('edit.png'), edit_district_path(district) %></td>
    <td><%= link_to image_tag('delete.png'), district, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<% else %>
<h4>No Records </h4>
<% end %>

