<div align="center">
<div class='button'><%= link_to 'New', new_country_path if current_user and current_user.is_admin %></div>
<% unless @countries.blank? %>
<table align="center">
<table align="center">
<tr><td colspan="3" align="center"><h3>Countries</h3></td></tr>
<% @countries.each do |country| %>
  <tr>
    <td><%=h country.name %></td>
    <td><%= link_to image_tag('edit.png'), edit_country_path(country) %></td>
    <td><%= link_to image_tag('delete.png'), country, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>
<% else %>
<h4>No Records </h4>
<% end %>

