<div align="center">
<div class='button'><%= link_to 'New Post', new_post_path if current_user and current_user.is_admin %></div>
<% unless @posts.blank? %>
<table align="center">
<tr><td colspan="3" align="center"><h3>Posts</h3></td></tr>


 <% @posts.each do |post| %>
  <tr>
    <td><%=h post.name %></td>
    <td><%= link_to image_tag('edit.png'), edit_post_path(post) %></td>
    <td><%= link_to image_tag('delete.png'), post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<% else %>
<h4>No Records </h4>
<% end %>

