<br />

<div class="page_container">
<h3>Editing gallery</h3>

<% form_for @gallery,:html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>
<%#= link_to 'Show', @gallery %>
<%#= link_to 'Back', galleries_path %>

