<%if current_user%>
<div align="right" style="float:right;"><%= link_to 'Add New', new_gallery_path,:class=>'button' if current_user %></div>
<% end %>
<% unless @galleries.blank? %>
<div align="left" style="float:left;">
Tags : <%= tag_list(Gallery.all) %>
</div><br />
<h3 align="center">Gallery</h3>

<div id="gallery">


<div style="width:80%;float:right;" >


         <% @galleries.each do |gallery| %>
            <div style="float:left;float:left;" align="center">
              <%= link_to image_tag(gallery.photo.url(:thumb)),gallery.photo.url(:medium),:title=>gallery.title   %> &nbsp;&nbsp;
            </div>

        <% end %>


    <br /><br />
    <div style="clear:both;"></div>

        <br /><br />












</div>

<% else %>
<div align="center">
No Records Found
</div>
<% end %>
<br />

