<br />

<div class="page_container">
<h3>Listing galleries</h3>
<div id="gallery">
<% @galleries.each do |gallery| %>
 <ul style="list-style-type: none;">

    <li><%= link_to image_tag(gallery.photo.url(:thumb)),gallery.photo.url(:medium),:title=>gallery.title %></li>
    </ul>
<% end %>
</div>
</div>
<br />

<%= link_to 'New gallery', new_gallery_path %>

