<%if current_user%>
<div class="button"><%= link_to 'Add New', new_gallery_path if current_user %></div>
<% end %>
<% unless @galleries.blank? %>
<div align="left" style="float:left;">
List : <%= tag_list(Gallery.all) %>
</div><br />
<h3 align="center">Gallery</h3>

<div id="gallery">


<div style="width:80%;float:right;" >


         <% @galleries.each do |gallery| %>
            <div style="float:left;float:left; padding:15px;" align="center">
            <div>
                <% if current_user %>
                   <% if current_user.is_admin %>
                   <%= button_to "Edit", edit_gallery_url (gallery.id), :method => :get %><br />
                   <% end %>
                <% end %>
               <div class="photo_frame"><%= link_to image_tag(gallery.photo.url(:thumb)),gallery.photo.url(:large),:title=>gallery.title%></div>
               <br />

             </div>
            </div>
        <% end %>


    <br /><br />
    <div style="clear:both;"></div>

        <br /><br />












</div>
</div>
<% else %>
<div align="center">
No Records Found
</div>
<% end %>
<br />

