<%if current_user%>
<div align="right" style="float:right;"><%= link_to '(Add new image)', new_gallery_path if current_user %></div>
<% end %>
<div align="left" style="float:left;">Tags : <%= tag_list(Gallery.all) %></div><br />




<div id="gallery">

<table align="center">
<tr><td><h3 align="center">Gallery </h3></td></tr>
<tr>
<% @galleries.each do |gallery| %>
<% unless gallery.photo_file_name.nil? %>
  <td>
    <%= link_to image_tag(gallery.photo.url(:thumb)),gallery.photo.url(:medium),:title=>gallery.title   %></td>

<% end %>
<% end %>
</tr>
</table>

</div>
<br />

