<div style="clear:both;"></div>
<br />


<div id="tree">

<div class="LongDescription">

    <h2>Mannekattil Branch (b)</h2>

    The descendants of Varughese, (Iruppootty Asans second son) are also known by the original family name Mannekattil and for convenience we call it as Mannekattil Branch (b)


    <h2>Mannekattil Branch (a)</h2>
	    Iruppootty Asans eldest son Mathai married Anna from Poozhikala family, Kuriannoor. They had three sons namely Iruppootty, Gee Varughese, Thomas and a daughter. The first son Iruppootty lived at Mannekattil and his successors belong to the Mannekattil Branch and for convenience we call it as Mannekattil Branch (a)


    <h2>Elimullumankal Branch</h2>
    Iruppootty Asans eldest son Mathai married Anna from Poozhikala family, Kuriannoor. They had three sons namely Iruppootty, Gee Varughese, Thomas and a daughter. The second son Gee Varughese married Annamma D/o Kochukunju Pakalomattom Chakkalayil Nalpathinazhiyil family and lived at Vadakke palakkattethu. They had seven sons Mathai, Thomas, Varughese Chacko, Ouseph, Gee Varughese, Cherian, Abraham and one daughter Annamma. <br />
    Mathai , Thomas, Varughese Chacko / Kochoonju  and Cherian settled at Ranny and their descendants are called Elimullumankal Branch.


    <h2>Vahaplackal Branch</h2>
	    Ouseph the fourth son of Vadakke palakkattethu Gee Varughese initially settled at Ranny and later his descendants moved to Madamon, Vadasserikkara and they constitute the Vahaplackal Branch.



    <h2>Cheruthalamannil Branch</h2>
	    Gee Varughese the fifth son of Vadakke palakkattethu Gee Varughese migrated from Vadakkepalackattethu, Maramon to Cheruthalamannil, Pullad. He married Annamma the eldest daughter of Varkey Kurien, Ampoo Puthuparampil, Pullad and his descendants are called Cheruthalamannil Branch. He was an agriculturist. Also, he was engaged in full time voluntary gospel work. He was called Vazhayil Upadesi which means preacher.


    <h2>Thekkekoleth Branch</h2>
    Abraham the seventh son of Vadakkepalakkattethu Gee Varghese married Achiamma, Thekkekoleth family, and initially settled at Thekkekoleth, Nedumprayar, Maramon as he was adopted to the family as heir. Later they moved to Vadasserikkara and his descendants are called Thekkekoleth Branch. He was a merchant. Abraham died in the Malayalam year 1106 and was buried at Maramon Mar Thoma church cemetery.

    <h2>Mittathumoottil Branch</h2>
	    Iruppootty Asans eldest son Mathai married Anna from Poozhikala family, Kuriannoor. They had three sons namely Iruppootty, Gee Varughese, Thomas and a daughter. The third son Thomas married from Kachanathu family, Mukkaranathu and settled at Mittathumoottil, Maramon and his heirs are called Mittathumoottil branch.

	    </div>
</div>


<div id = "List_of_families">
  <%= link_to "Family List", families_path, :class => "right_menu" %>
<div>

