<div style="clear:both;"></div>
<br />


<div id="tree">

<div class="LongDescription">
<% @families.each do |family| %>
    <h2><%= family.name %></h2>
    <p><%= family.long_description %>

<% end %>
	    </div>
</div>
<div id="family_container"><%= render :partial=>'families/family_list' %></div>

